**.idea
**cmake-build-debug
**CMakeLists.txt
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/clion-log.txt
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/Makefile.cmake
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Testing/Temporary/LastTest.log
Lab 2 - Stacks and Queues/.idea/workspace.xml
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/clion-log.txt
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/Makefile.cmake
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Testing/Temporary/LastTest.log
Lab 2 - Stacks and Queues/.idea/workspace.xml
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/Lab_1.dir/depend.make
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Lab_1.exe
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Testing/Temporary/LastTest.log
Lab 4 - Hash Tables/CMakeLists.txt
