**.idea
**cmake-build-debug
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/clion-log.txt
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/Makefile.cmake
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Testing/Temporary/LastTest.log
Lab 2 - Stacks and Queues/.idea/workspace.xml
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/clion-log.txt
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/CMakeFiles/Makefile.cmake
Lab 1 - Arrays Abstract Data Structure/cmake-build-debug/Testing/Temporary/LastTest.log
Lab 2 - Stacks and Queues/.idea/workspace.xml
